.home_header {
  margin: auto;
  width: 80%;
  text-align: center;
  background-color: rgba(150, 150, 150, 0.5);
  padding: 1rem;
  margin-top: 5rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    font-size: 1.5rem;
  }
}
